body
{
    font-family: 'Special Elite', cursive;
    background: #cfffff;
}

.header_div
{
    background: #6c757d;
    color: red;
    padding-bottom: 10px;
}

.header_div img
{
    width: 100px;
}

.footer_div
{
    margin-bottom: 50px;
}

.footer_div h4
{
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
}

.footer_div img
{
    width: 70px;
}

.copy_right_footer
{
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    line-height: 3;
    text-align: center;
}

b
{
    color: firebrick;
}

#pic
{
    padding: 10px;
    border-radius: 30px;
    width: 180px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#div
{
    padding: 10px;
    color: darkcyan;
    box-shadow: 18px 18px 18px white;
    width: 500px;
}